*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#users{
    width: 900px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap ;
}

.user {
    width: 300px;
    padding: 1em;        
}
.user img{
    width: 268px;
}
.user *{
    padding: 1em;
}


.form{
    display: block;
    border: none;
    outline: none;
    padding: 1em;
    margin: 2em;
    margin: 2em auto;

}
.search {
    width: 50%;
    border-bottom: 2px solid black;
    text-align: center;
}
.searchBtn {
    width: 30%;
    color: white;
    font-weight: bold;
    background: green;
    border: 2px solid black;
}
li{
    list-style: none;
    font-size: 0.5rem;
}